header{
	padding: 0px;
}


ul{
	
    list-style-type: none;
        font-family: Segoe UI;
    list-style-position: none;
    padding: 40px;
    padding-bottom: 50px;
    margin: -3px 0px;

}
li{
	display: inline;
	margin: 70px;
	color: white;
	
	
}

#main{
	
	font-size: 55px;
	width: 35px;
	font-family: italic;
}

li a{
	color: white;
	text-decoration: none;
	
}

li a:hover{
	color: pink;
	text-decoration: underline;
	text-decoration-style: solid;

}
body{
	padding-top: -70px;
}
p{
	font-size: 25px;
}

article{
	padding:30px;
   	
   
    height: 850px;
    font-size: 45px;
    text-align:left;
}
#main1{
	background-image: url(https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	
	background-size: cover;
	backface-visibility: 
	
}
footer a{
	color:white;

}
footer{
	text-align-last: center;
	color: white;
}
	
